<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>CoatRack</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
        <!--<link rel="stylesheet" href="assets/css/main.css" />-->
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <script th:inline="javascript">
            /*<![CDATA[*/

            $(document).ready(function () {
                $(function () {
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    $(document).ajaxSend(function (e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                });
            });

            $("a#logout").click(function (event) {
                event.preventDefault();
                $.ajax({
                    beforeSend: function (request) {
                        var token = $("meta[name='_csrf']").attr("content");
                        var header = $("meta[name='_csrf_header']").attr("content");
                        request.setRequestHeader(header, token);
                    },
                    url: "/logout"
//        ,
//        success: function(response) {
//            alert(response);
//        }
                });
                return false; // for good measure
            });

            /*]]>*/
        </script>     
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <span class="icon fa-code"></span>
                </div>
                <div class="content">
                    <div class="inner">
                        <h2>Login</h2>
                        <form name='loginForm' action='/perform_login' method='POST'>
                            <table>
                                <tr><td>User:</td><td><input type='text' name='username' value='' /></td></tr>
                                <tr><td>Password:</td><td><input type='password' name='password'/></td></tr>
                                <tr><td><input name="submit" type="submit" value="Login"/> </td><td><a href="/register">Sign Up</a> <a href="mailto:support@coatrack.eu?Subject=Forgot%20Password" target="_top">Forgot password</a></td><td><a href="/">Back</a></td></tr>
                            </table>
                            <input name="_csrf" type="hidden" th:value="${_csrf.token}" />
                        </form>
                        
                        <div th:if="${param.error}">
                            Invalid username and password.
                        </div>
                    </div>
                </div>


            </header>



            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; . Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

        </div>

        <!-- BG -->
        <div id="bg"></div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>











<!--</div>
<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
</body>
</html>-->
