<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <div th:fragment="body">

            <div id="infoDialog" title="Info">
                <div class="x_panel">
                    <div class="x_content">
                        <i class="fa fa-lg fa-info-circle"/>
                        <span id='message'>message</span>
                    </div>
                </div>
            </div>
            
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        <span th:text="#{admin.services.page.title}">Title</span>
                        <a data-toggle="modal" data-target=".getting-started-service-api-modal">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <i class="fa fa-lg fa-info-circle"/>
                            <span th:text="#{admin.services.page.explanation}"/>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 th:text="#{admin.services.list.title}">[Administration]</h2>
                            <div class="pull-right">
                                <a th:href="@{'/admin/services/formAdd'}" th:text="#{admin.services.button.new}"
                                   class="btn btn-primary">[Add]</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content  fill-body-table">
                            <div id="message-holder">
                                <div th:if="${feedbackMessage}"
                                     th:class="'messageblock hidden'"
                                     th:text="${feedbackMessage}"></div>
                            </div>
                            <table id="servicesTable" class="table table-striped jambo_table default-data-table">
                                <thead>
                                    <tr class="heading">

                                        <th th:text="#{admin.services.list.col.name}"></th>
                                        <th th:text="#{admin.services.list.col.url}"></th>
                                        <th th:text="#{admin.services.list.col.id}"></th>
                                        <th th:text="#{admin.services.list.col.permissions}"></th>
                                        <th th:text="#{admin.services.list.col.pricing}"></th>
                                        <th th:text="#{admin.services.list.col.description}"></th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="service : ${services}" th:id="|@{item}${service.id}|">

                                        <td th:text="${service.name}"></td>
                                        <td th:text="${service.localUrl}"></td>
                                        <td th:text="${service.uriIdentifier}"></td>
                                        <td th:text="${service.serviceAccessPermissionPolicy} == null ? '' : ${service.serviceAccessPermissionPolicy.displayStringShort}"></td>
                                        <td th:text="${service.serviceAccessPaymentPolicy} == null ? '' : ${service.serviceAccessPaymentPolicy.displayStringShort}"></td>
                                        <td th:text="${service.description}">service description</td>
                                        <td class="right">
                                            <button th:onclick="|@{location.href='/admin/services/}${service.id}@{/servicecover'}|" ><i class="fa fa-image"/></button>
                                            <button th:onclick="|@{location.href='/admin/services/}${service.id}@{'}|" ><i class="fa fa-search-plus"/></button>
                                            <button th:onclick="|@{location.href='/admin/services/}${service.id}@{/formUpdate'}|"><i class="fa  fa-pencil-square-o"/></button>
                                            <button th:onclick="'javascript:deleteItem(\'' + ${service.id} + '\',\'' + ${service.name} +'\' )'"><i class="fa  fa-trash"/></button>
                                        </td>


                                    </tr>
                                    <tr th:if="${#lists.isEmpty(services)}" >
                                        <td colspan="7"> No items yet  </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="admin/fragments/scripts :: scripts" th:remove="tag">Javascript Libraries</div>
        <div th:include="admin/fragments/scripts :: initializeDataTables" th:remove="tag">Javascript Libraries</div>
        <script>
            $(function () {

                $("#infoDialog").dialog({
                    width: 'auto',
                    height: "auto",
                    autoOpen: false,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 1500
                    },
                    hide: {
                        effect: "blind",
                        duration: 1000
                    },
                    buttons: {
                        "Yes": function () {

                            var id = $(this).data('deleteItem');

                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");

                            $.ajax({
                                url: '/admin/services/' + id + '.json',

                                headers: {header: token},
                                type: 'DELETE',
                                success: function (result) {
                                    console.log('success:' + JSON.stringify(result));

                                    console.log('remove :' + id);

                                    $("#item" + id).remove();
                                },
                                error: function (result) {
                                    console.log('error:' + JSON.stringify(result));
                                }
                            });

                            $(this).dialog("close");
                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            function deleteItem(item, name) {

                $.ajax({url: '/admin/services/' + item + '/proxies',

                    type: 'GET',
                    success: function (result) {

                        console.log('success:' + JSON.stringify(result));

                        var message = "";

                        if (result.length > 0)
                        {

                            message = "Service Offering <strong>" + name + "</strong> has " + result.length + " gateways assigned.";

                            message += "<ul>";
                            for (var i = 0; result.length > i; i++) {
                                message += "<li>" + result[i].name + "</li>";
                            }

                            message += "</ul>";
                        }

                        message += "Are you sure you want to delete Service Offering <strong>" + name + "</strong>?";

                        $("#message").html(message);
                        $("#infoDialog")
                                .data('deleteItem', item)
                                .dialog("open");
                    },
                    error: function (result) {
                        console.log('error:' + JSON.stringify(result));
                    }
                });
            }

        </script>
    </body>
</html>

