<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <div th:fragment="body">
            <div class="page-title">
                <div class="title_left">
                    <h3 th:text="#{admin.services.details.page.title}">Service Details</h3>
                </div>
                <div class="form-actions col-md-offset-3 col-sm-offset-2 pull-right">
                    <a th:href="|@{/admin/services/}${service.id}|"
                       class="btn btn-primary glyphicon glyphicon-refresh"></a>
                    <a th:href="@{'/admin/services/'}" th:text="#{admin.services.button.back}"
                       class="btn btn-primary"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xy-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 th:text="#{admin.services.info.title}">General Information</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            
                                <a th:href="|@{/admin/services/}${service.id}@{/formUpdate}|"><i class="fa  fa-pencil-square-o"></i></a>
                                
                            <table class="table">
                                <tr>
                                    <td th:text="#{admin.services.list.col.name}">Name</td>
                                    <td th:text="${service.name}"></td>
                                </tr>
                                <tr>
                                    <td th:text="#{admin.services.list.col.id}">Identifier</td>
                                    <td th:text="${service.uriIdentifier}"></td>
                                </tr>
                                <tr>
                                    <td th:text="#{admin.services.list.col.url}">Local Url</td>
                                    <td th:text="${service.localUrl}"></td>
                                </tr>
                                <tr>
                                    <td th:text="#{admin.services.list.col.description}">Local Url</td>
                                    <td th:text="${service.description}"></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>
                                <i class="fa fa-lg fa-bar-chart"></i>
                                <span th:text="#{admin.services.statistics.title}">Statistics</span>
                            </h3>
                            <div id="filter">
                                <div id="date-range-picker" class="pull-left"
                                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; margin-bottom: 5px;">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span id="date-range-from" th:text="${#temporals.format(statisticsDateFrom, 'dd/MM/yyyy')}">April 15, 2018</span>
                                    -
                                    <span id="date-range-until"
                                          th:text="${#temporals.format(statisticsDateUntil, 'dd/MM/yyyy')}">April 21, 2018</span>
                                    <b class="caret"></b>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_title">
                            <h2>
                                <span th:text="#{admin.services.statistics.per-consumer.title}">Detailed Statistics per API consumer</span>
                                <small th:text="#{admin.services.statistics.per-consumer.subtitle}">
                                    [Metrics details ]
                                </small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div th:each="statsPerConsumer : ${statisticsPerConsumerMap}">
                                <h3>
                                    <a data-toggle="collapse" th:href="|#collapseExample${statsPerConsumer.key}|">
                                        <span th:text="${statsPerConsumer.key}">consumer name</span>
                                        (Total calls:
                                        <span th:text="${totalNoOfCallsPerConsumerMap.get(statsPerConsumer.key)}">Totals</span>
                                        )
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </h3>
                                <div class="collapse" th:id="|collapseExample${statsPerConsumer.key}|">
                                    <div class="col-xs-12 col-sm-12 col-md-12"
                                         th:each="statsPerConsumerAndMethod : ${statsPerConsumer.value}">

                                        <h4 th:text="${statsPerConsumerAndMethod.key}">request method</h4>
                                        <div class="col-xs-12 col-sm-9 col-md-9">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 25%">HTTP Response Code</th>
                                                        <th style="width: 25%">No of Calls</th>
                                                        <th style="width: 50%">No of Calls per Path</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="statsPerResponseCode : ${statsPerConsumerAndMethod.value}">
                                                        <td th:text="${statsPerResponseCode.key}"
                                                            th:styleappend="${statsPerResponseCode.key.equals('Total')} ? 'font-weight:bold;' : '' ">
                                                            response code (or "total")
                                                        </td>
                                                        <td th:text="${statsPerResponseCode.value.get('Total')}"
                                                            th:styleappend="${statsPerResponseCode.key.equals('Total')} ? 'font-weight:bold;' : '' ">
                                                            count calls
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default btn-xs" data-toggle="collapse" role="button"
                                                               th:href="|#collapseRow${statsPerConsumer.key}-${statsPerConsumerAndMethod.key}-${statsPerResponseCode.key}|">
                                                                Details...
                                                            </a>
                                                            <br/>
                                                            <table class="table collapse"
                                                                   th:id="|collapseRow${statsPerConsumer.key}-${statsPerConsumerAndMethod.key}-${statsPerResponseCode.key}|">
                                                                <thead>
                                                                    <th>Path</th>
                                                                    <th>Count</th>
                                                                </thead>
                                                                <tbody>
                                                                    <tr th:each="statsPerPath: ${statsPerResponseCode.value}">
                                                                        <td th:text="${statsPerPath.key}"
                                                                            th:styleappend="${statsPerPath.key.equals('Total')} ? 'font-weight:bold;' : '' ">
                                                                            /path
                                                                        </td>
                                                                        <td th:text="${statsPerPath.value}"
                                                                            th:styleappend="${statsPerPath.key.equals('Total')} ? 'font-weight:bold;' : '' ">
                                                                            no of calls for this path
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3">
                                            <canvas class="canvasDoughnut"
                                                    th:id="|canvasDoughnut_CONSUMER_${statsPerConsumer.key}_${statsPerConsumerAndMethod.key}|"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                 style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>
                                <span th:text="#{admin.services.statistics.per-response-code.title}">Detailed Statistics per response code</span>
                                <small th:text="#{admin.services.statistics.per-response-code.subtitle}">
                                    [Metrics details per response]
                                </small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div th:each="statsPerResponseCode : ${statisticsPerResponseCodeMap}">
                                <h3>
                                    <a data-toggle="collapse" th:href="|#collapseTable${statsPerResponseCode.key}|">
                                        <span th:text="${statsPerResponseCode.key}">response code</span>
                                        (Total calls:
                                        <span th:text="${totalNoOfCallsPerResponseCodeMap.get(statsPerResponseCode.key)}">Totals</span>
                                        )
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </h3>
                                <div class="collapse" th:id="|collapseTable${statsPerResponseCode.key}|">
                                    <div class="col-xs-12 col-sm-12 col-md-12"
                                         th:each="statsPerMethod : ${statsPerResponseCode.value}">

                                        <h4 th:text="${statsPerMethod.key}">request method</h4>

                                        <div class="col-xs-12 col-sm-9 col-md-9">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 50%">Path</th>
                                                        <th style="width: 50%">No of Calls</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="statsPerPath : ${statsPerMethod.value}">
                                                        <td th:text="${statsPerPath.key}"
                                                            th:styleappend="${statsPerPath.key.equals('Total')} ? 'font-weight:bold;' : '' ">
                                                            response code (or "total")
                                                        </td>
                                                        <td th:text="${statsPerPath.value}"
                                                            th:styleappend="${statsPerPath.key.equals('Total')} ? 'font-weight:bold;' : '' ">
                                                            count calls
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 col-md-3">
                                            <canvas class="canvasDoughnut"
                                                    th:id="|canvasDoughnut_STATUS_${statsPerResponseCode.key}_${statsPerMethod.key}|"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                 style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>
                                <span th:text="#{admin.services.metrics.title}">title</span>
                                <small th:text="#{admin.services.metrics.subtitle}">[Metrics details ]</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table id="proxiesTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Proxied Service API</th>
                                        <th>API User</th>
                                        <th>Request Method</th>
                                        <th>Path</th>
                                        <th>Metric</th>
                                        <th>HTTP Response Status</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="metric : ${metrics}">
                                        <td>
                                            <div th:text="${metric.serviceApiName}"></div>
                                        </td>
                                        <td>
                                            <div th:text="${metric.apiUser}"></div>
                                        </td>
                                        <td>
                                            <div th:text="${metric.requestMethod}"></div>
                                        </td>
                                        <td>
                                            <div th:text="${metric.path}"></div>
                                        </td>
                                        <td>
                                            <div th:text="${metric.type.displayString}"></div>
                                        </td>
                                        <td>
                                            <div th:text="${metric.httpResponseCode}"></div>
                                        </td>
                                        <td>
                                            <div th:text="${metric.count}"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row"
                                 style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div th:include="admin/fragments/scripts :: scripts" th:remove="tag">Javascript Libraries</div>
    </body>
</html>

