<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <body>
        <div th:fragment="body">
            <div class="row col-md-12">
                <div id="date-range-picker" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; margin-bottom: 5px;">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span id="date-range-from" th:text="${#temporals.format(stats.dateFrom, 'yyyy-MM-dd')}">April 15, 2018</span>
                    -
                    <span id="date-range-until" th:text="${#temporals.format(stats.dateUntil, 'yyyy-MM-dd')}">April 21, 2018</span>
                    <b class="caret"></b>
                </div>
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-exchange"></i>
                        </div>
                        <div id="callsThisPeriod" class="count" th:text="${stats.callsThisPeriod}">179</div>

                        <h3 th:text="#{admin.dashboard.stats.calls.label}">Title</h3>
                        <p th:text="#{admin.dashboard.stats.calls.desc}">Description</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-close"></i>
                        </div>
                        <div id="errorsThisPeriod" class="count" th:text="${stats.errorsThisPeriod}">179</div>

                        <h3 th:text="#{admin.dashboard.stats.errors.label}">Title</h3>
                        <p th:text="#{admin.dashboard.stats.errors.desc}">Description</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-line-chart"></i>
                        </div>
                        <div id="callsDiff" class="count" th:text="${stats.callsDiff}">179</div>

                        <h3 th:text="#{admin.dashboard.stats.callsdiff.label}">Title</h3>
                        <p th:text="#{admin.dashboard.stats.callsdiff.desc}">Description</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-users"></i>
                        </div>
                        <div id="users" class="count" th:text="${stats.users}">179</div>

                        <h3 th:text="#{admin.dashboard.stats.users.label}">Title</h3>
                        <p th:text="#{admin.dashboard.stats.users.desc}">Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>HTTP response codes</h3>
                            <p th:text="#{admin.dashboard.stats.http.response.codes.desc}">Description</p>
                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div style="width: 80%; height: 80%; margin-left: 10%;">
                                <canvas class="canvasDoughnut" id="httpStatsChartCanvas" height="200" width="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Calls per API user</h3>
                            <p th:text="#{admin.dashboard.stats.calls.api.user.desc}">Description</p>
                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div style="width: 80%; height: 80%; margin-left: 10%;">
                                <canvas class="canvasDoughnut" id="userStatsChartCanvas" height="200" width="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Top API users</h3>
                            <p th:text="#{admin.dashboard.top.api.users.desc}">Description</p>
                            
                            <div class="clearfix"></div>
                        </div>
                        <div id="userStatisticsTable" class="x_content">


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Service API Calls per Day
                                <small>Distribution over the selected date range</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="demo-container" style="height:300px">
                                <div class="demo-placeholder" style="padding: 0px; position:relative;">
                                    <canvas class="canvasDoughnut" id="statsPerDayLineChartCanvas" width="1100" height="300"
                                            style="margin: 15px 10px 10px 10px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </body>
</html>
