<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="infoDialog" title="Info">
            <div class="x_panel">
                <div class="x_content">
                    <i class="fa fa-lg fa-info-circle"></i>
                    <span id='message'>message</span>

                </div>
            </div>
        </div>
        <div id="extendValidity" title="Change validity end date">
            <div class="x_panel">
                <div class="x_content">

                    <span id='message'> </span>
                    <input type="text" id="datepicker"/>
                </div>
            </div>
        </div>
        <script>
            $(function () {

                $("#infoDialog").dialog({
                    width: 'auto',
                    height: "auto",
                    autoOpen: false,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 1500
                    },
                    hide: {
                        effect: "blind",
                        duration: 1000
                    },
                    buttons: {
                        "Yes": function () {

                            var id = $(this).data('deleteItem');

                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");

                            $.ajax({
                                url: '/admin/api-keys/' + id + '.json',
                                headers: {header: token},
                                type: 'DELETE',
                                success: function (result) {
                                    console.log('success:' + JSON.stringify(result));

                                    console.log('remove :' + id);

                                    $("#item" + id).remove();
                                },
                                error: function (result) {
                                    console.log('error:' + JSON.stringify(result));
                                }
                            });

                            $(this).dialog("close");
                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                $("#extendValidity").dialog({
                    width: 'auto',
                    height: "auto",
                    autoOpen: false,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 1500
                    },
                    hide: {
                        effect: "blind",
                        duration: 1000
                    },
                    buttons: {
                        "Yes": function () {


                            var id = $(this).data('extendValidityId');
                            var nextValidDate = document.getElementById('datepicker').value;
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");


                            $.ajax({
                                url: '/admin/api-keys/' + id + '/extendValidity',
                                headers: {header: token},
                                type: 'POST',
                                data: {nextValidDate: nextValidDate},
                                success: function (result) {
                                    $("#item" + id + "ValidUntil").text(nextValidDate);
                                    $("#item" + id + "ValidUntil").attr("validuntil", nextValidDate);
                                },
                                error: function (result) {
                                    console.log('error:' + JSON.stringify(result));
                                }
                            });

                            $(this).dialog("close");
                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                    }
                });




            });

            function deleteItem(item, consumer) {
                $("#message").html("Are you sure you want to delete the API key of <strong> " + consumer + "</strong> ? Then " + consumer + " cannot use your API any more");
                $("#infoDialog").data('deleteItem', item).dialog("open");
            }
            function initExtendValidity()
            {
                document.getElementById('datepicker').value = '';
                var SelectedDates = {};
                $("#datepicker").datepicker({
                    dateFormat: 'dd/mm/yy',
                    beforeShowDay: function (date) {

                        var Highlight = SelectedDates[date];
                        if (Highlight) {
                            return [true, "Highlighted", Highlight];
                        } else {
                            return [true, '', ''];
                        }
                    }
                });
            }
            function extendValidity(id)
            {
                var originalDate = $("#item" + id + "ValidUntil").attr("validuntil");
                console.log(originalDate);
                $("#datepicker").datepicker("destroy");
                $("#datepicker").datepicker("refresh");
                initExtendValidity();
                $("#datepicker").datepicker("setDate", originalDate);
                $("#extendValidity").data('extendValidityId', id).dialog("open");
            }

            $(function () {
                initExtendValidity();
            });
        </script>

        <div th:fragment="body">

            <div class="page-title">
                <div class="title_left">
                    <h3>
                        <span th:text="#{admin.api-keys.page.title}">Title</span>
                        <a data-toggle="modal" data-target=".getting-started-api-key-modal">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <i class="fa fa-lg fa-info-circle"></i>
                            <span th:text="#{admin.api-keys.page.explanation}"></span>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 th:text="#{admin.api-keys.subtitle}">[Post Administration</h2>
                            <div class="form-actions col-md-offset-3 col-sm-offset-2 pull-right">
                                <a th:href="@{'/admin/api-keys/formAdd'}" th:text="#{admin.api-keys.button.new}"
                                   class="btn btn-primary">[Add API-key]</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content  fill-body-table">
                            <div id="message-holder">
                                <div th:if="${feedbackMessage}"
                                     th:class="'messageblock hidden'"
                                     th:text="${feedbackMessage}"></div>
                            </div>
                            <table id="apiKeyTable" class="table table-striped jambo_table default-data-table">
                                <thead>
                                    <tr class="heading">
                                        <th th:text="#{admin.api-keys.list.col.consumer.heading}">Consumer</th>
                                        <th th:text="#{admin.api-keys.list.col.service.heading}">Service</th>
                                        <th>
                                            <span th:text="#{admin.api-keys.list.col.key.heading}">
                                                Key value
                                            </span>
                                            <a data-toggle="modal" data-target=".getting-started-api-key-modal">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        </th>
                                        <th th:text="#{admin.api-keys.list.col.created.heading}">Created </th>
                                        <th th:text="#{admin.api-keys.list.col.validity.heading}">Validity</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="apiKey : ${apiKeys}" th:id="|@{item}${apiKey.id}|" >
                                        <td th:text=" ${apiKey.userName == null} ? '':${apiKey.userName}">Consumer</td>
                                        <td class="a-center " th:text=" ${apiKey.serviceApi != null} ? ${apiKey.serviceApi.name} + ' (' + ${apiKey.serviceApi.uriIdentifier} + ')' : ''">Service API name</td>
                                        <td th:text=" ${apiKey.keyValue}">Key Value</td>
                                        <td class="a-center " th:text="${apiKey.created != null} ? ${#dates.format(apiKey.created, 'yyyy-MM-dd')} : ''">Created</td>
                                        <td><span th:id="|@{item}${apiKey.id}@{ValidUntil}|" th:attr="validUntil=${#dates.format(apiKey.validUntil, 'yyyy-MM-dd')}" class="a-center " th:text="${apiKey.validUntil != null} ? ${#dates.format(apiKey.validUntil, 'yyyy-MM-dd')}: ''">Valid until</span></td>
                                        <td><button th:onclick="'javascript:extendValidity(' + ${apiKey.id} + ' )'"><i class="glyphicon glyphicon-calendar"></i></button></td>
                                        <td class="right">
                                            <button th:onclick="|@{location.href='/admin/api-keys/}${apiKey.id}@{'}|" ><i class="fa fa-search-plus"></i></button>
                                            <!--button th:onclick="|@{location.href='/admin/api-keys/}${apiKey.id}@{/formUpdate'}|"><i class="fa  fa-pencil-square-o"/></button-->
                                            <!-- TODO re-implement the deletion button
                                            <button th:onclick="'javascript:deleteItem(' + ${apiKey.id} + ', \'' + ${apiKey.userName} + '\' )'"><i class="fa  fa-trash"/></button>
                                            -->
                                        </td>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(apiKeys)}" >
                                        <td colspan="6"  > No items yet </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="admin/fragments/scripts :: scripts" th:remove="tag">Javascript Libraries</div>
        <div th:include="admin/fragments/scripts :: initializeDataTables" th:remove="tag">Javascript Libraries</div>
    </body>
</html>