<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="proxyDeleter">
    <div id="infoDialog" title="Info">
        <div class="x_panel">
            <div class="x_content">
                <i class="fa fa-lg fa-info-circle"></i>
                <span id='message'>message</span>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#infoDialog").dialog({
                width: 'auto',
                height: "auto",
                autoOpen: false,
                modal: true,
                show: {
                    effect: "blind",
                    duration: 1500
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                },
                buttons: {
                    "Yes": function () {

                        var id = $(this).data('deleteItem');

                        var token = $("meta[name='_csrf']").attr("content");
                        var header = $("meta[name='_csrf_header']").attr("content");

                        $.ajax({
                            url: '/admin/proxies/' + id,
                            headers: {header: token},
                            type: 'DELETE',
                            success: function (result) {
                                console.log('success:' + JSON.stringify(result));

                                console.log('remove :' + id);

                                $("#item" + id).remove();
                            },
                            error: function (result) {
                                console.log('error:' + JSON.stringify(result));
                            }
                        });

                        $(this).dialog("close");
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

        function deleteProxy(item, name) {
            $("#message").html("Are you sure you want to delete <strong>" + name + "</strong>?")
            $("#infoDialog").data('deleteItem', item).dialog("open");
        }
    </script>

</div>
</body>
</html>