logging:
  level:
    org.springframework.security: DEBUG
    org: DEBUG
    nl.corizon.ygg: DEBUG

server:
  port: 8998
security:
    basic:
        enabled: true
        path: /ygg-admin/**
        ignored: /health**,/info**,/metrics**,/trace**

spring:
    http:
      multipart:
          max-file-size: 100MB
          max-request-size: 100MB
    jpa:
        properties:
            hibernate:
                format_sql: true
        hibernate:
            show-sql: true
            generate-ddl: true
            ddl-auto: create-drop
            #ddl-auto: update
    profiles.active: native
    cloud.config.server.native.searchLocations: file:///${user.home}/.coatrack/temp-gateway-config-file-storage
                    
ygg:
  admin:
    config:
      access:
        user:
          name: admin
          password: password
